@font-face {
    font-family: "New Athena Unicode";
    src: url(newathu405.ttf);
}

* {
    font-size: 15px;
    font-family: Georgia, Times, serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #495570;
}

body {
    display: none;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

u {
    font-family: "New Athena Unicode", serif;
    color: #666DFF;
    cursor: pointer;
    white-space: nowrap;
}

u:hover {
    text-decoration: underline;
}

u sub {
    font-size: 9px;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    display: table;
    height: 100%;
}

#qrybox {
    display: table-row;
    height: 55px;
}

#toc {
    display: table-row;
    height: 100%;
}

#toc div {
    height: 100%;
    position: relative;
    overflow: auto;
    border-top: 1px dotted #8AA1D5;
}

#history {
    display: table-row;
}

#history div {
    height: 150px;
    position: relative;
    overflow: auto;
}

#toolbar {
    display: table-row;
    height: 20px;
}

#qrybox {
    background: #2B3348;
    overflow: hidden;
}

#qry {
    font-family: "New Athena Unicode", serif;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #101010;
    padding: 10px 10px 0 10px;
    border-radius: 15px;
    resize: none;
    height: 25px;
    width: 160px;
    background-color: #bbb;
    border: 0;
    /*box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.30);*/

}

#qry:focus {
    background-color: #D3DDF0

}

#toc {
    white-space: nowrap;
    color: white;
}

#toc u {
    font-size: 16px;
    color: white;
}

#toc p {
    display: block;
    padding: 5px 10px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

#toc p.selected, #toc p.selected u {
    background-color: #748AC3;
}

#toc p:hover, #toc p:hover u {
    color: yellow;
}

#history  {
    background: #2B3348;
}

#history div {
    border-top: 1px dotted #8AA1D5;
    border-bottom: 1px dotted #8AA1D5;
    padding-top: 5px;
}

#history p {
    display: block;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

#history u {
    font-size: 12px;
    color: white;
}

#history p:hover, #history p:hover u {
    color: yellow;
}

#toolbar {
    padding: 5px;
    background: black;
    text-align: center;
}

#toolbar button {
    width: 15px;
    height: 15px;
    border: 1px solid #778DCB;
    background-color: #808080;
    z-index: 3;
    font-size: 10px;
    padding: 0;
    color: black;
    cursor: pointer;
    margin: 5px;
}

#toolbar button.on {
    background: #778DCB;
    color: white;
}

#toolbar button:hover {
    background-color: black;
    color: white;
}

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 200px;
    background-color: #eee;
    overflow: hidden;
    min-width: 400px;
}

#content u {
    font-size: 18px;
}

#zoom {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    top: 0;
    left: 0;
    display: none;
    border-radius: 15px;
}

#zoom .word {
    font-family: "New Athena Unicode", serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: #666DFF;
    white-space: nowrap;
}

#zoom .feature {
    font-size: 10px;
    font-style: italic;
    margin-top: 5px;
}

#zoom .form {
    font-size: 10px;
    margin-top: 5px;
}

#keyboard {
    border: 2px solid #8AA1D5;
    border-bottom: 0;
    background: #ddd;
    width: 310px;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
}

#keyboard p {
    text-align: center;
    margin: 0;
}

#keyboard button {
    width: 27px;
    height: 27px;
    font-size: 13px;
    border: 1px solid #a0a0a0;
    background: #f0f0f0;
    color: #778DCB;
    border-radius: 6px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
}

#keyboard button sup {
    font-size: 10px;
    color: black;
    padding-right: 2px;
}

#keyboard button:hover {
    background: #38425C;
    color: white;
}

#keyboard button:hover * {
    color: white;
}

#keyboard span {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

#about {
    width: 300px;
    height: 420px;
    position: absolute;
    top: -500px;
    margin-left:-150px;
    border: 2px solid #8AA1D5;
    border-top: none;
    background: white;
    left: 50%;
    border-radius: 0 0 20px 20px;

}

#about div {
    padding:30px;
    text-align: center;
}

#about h1 {
    font-family: "New Athena Unicode", serif;
    font-size: 24px;
    margin-top: 10px;
    color: #F27F18;
}

#about h2 {
    font-weight: bold;
    margin:20px 0 5px 0;
}

#about * {
    font-size: 10px;
    line-height: 150%;
}

#about button {
    padding: 5px;
    border: 1px solid #8AA1D5;
    background: white;
    cursor: pointer;
}

#about button:hover {
    background-color: black;
    color: white;
}

#about a {
    color: #0000ff;
}

#about a:hover {
    text-decoration: underline;
}

.highlight {
    background: yellow;
    color: black;
    padding: 0 5px;
}

.tab {
    transition: all 0.2s ease;
}

.tablabels {
    position: absolute;
    top: 10px;
    left: 20px;
    border-spacing: 10px;
}

.tablabels td {
    font-family: Georgia, serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px 12px 0 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #ccc;
    color: #888;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    height: 20px;
}

.tablabels td.on {
    z-index: 2;
    background: white;
    color: black;
    font-weight: bold;
}

div.tab {
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background: white;
    visibility: hidden;
    opacity: 0;
}

div.tab.on {
    visibility: visible;
    opacity: 1;
}

.tabtop {
    font-size: 11px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.tabtop a {
    font-size: 10px;
    font-style: italic;
}

.tabtop a:hover {
    text-decoration: underline;
}

.tab div {
    margin-bottom: 20px;
}

.morph table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

.morph tr {
    vertical-align: top;
}

.morph td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 11px;
    margin: 0;
}

.morph td.m {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    width: 30px;
}

.morph tr.head td {
    background-color: #99A9CC;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
    margin: 10px 0 0 0;
}

.morph td u {
    margin-right: 5px;
}

.entry {
    line-height: 120%
}

.entry p {
    margin-bottom: 10px;
}

.entry p.level1 {
    padding-left: 0;
}

.entry p.level2 {
    padding-left: 40px;
}

.entry p.level3 {
    padding-left: 80px;
}

.entry p.level4 {
    padding-left: 120px;
}

.entry p.level5 {
    padding-left: 160px;
}

.entry h4 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px
}

.entry .notes, .entry .notes * {
    font-size: 10px;
}

.entry .ref {
}

.entry .usg {
    font-style: italic
}

.entry .tr {
    font-style: italic;
    font-weight: bold;
    color: black
}

.entry .num {
    color: #888;
    font-weight: bold
}